# Ignore example files
/examples
/API

# Ignore Python virtual environment
venv/

# Ignore Python bytecode caches (globally)
__pycache__/
*.py[cod]

.vscode/
.DS_Store

# Specific files to ignore
dev.env
src/fortinet_wrapper/main.py
extract-tree.sh
